<!DOCTYPE html>
<html>
<%- include('head') -%>

    <body>
        <%- include('header') -%>
            <div class="container" style="padding-top: 10px;">
                <form action="/account/info" method="POST">
                    <div class="form-group">
                        <label for="fullNameInput">Full name</label>
                        <input type="name" class="form-control" id="fullNameInput" name="fullName" placeholder="Enter full name" value="<%= user.fullName %>">
                    </div>
                    <div class="form-group">
                        <label for="cityInput">City</label>
                        <input type="text" class="form-control" id="cityInput" name="city" placeholder="City" value="<%= user.city %>">
                    </div>
                    <div class="form-group">
                        <label for="stateInput">State</label>
                        <input type="text" class="form-control" id="stateInput" name="state" placeholder="State" value="<%= user.state %>">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                <br>
                <hr>
                <form action="/account/newbook" method="POST">
                    <label>Add my book:</label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="title" placeholder="The Catcher in the Rye...">
                        <div class="input-group-append">
                            <button class="btn btn-outline-success" type="submit">Add</button>
                        </div>
                    </div>
                </form>
                <div class="row justify-content-center">
                    <% for (var i = 0; i < books.length; i++) { %>
                        <div class="col justify-content-center">
                            <div class="card justify-content-center" style="width: 8rem;margin: auto">
                                <img class="card-img-top" src="<%= books[i].thumbnail %>">
                                <div class="card-body">
                                    <form action="/account/removebook" method="POST">
                                        <p class="card-title">
                                            <%= books[i].title %>
                                        </p>
                                        <input type="hidden" name="bookId" value="<%= books[i]._id %>">
                                        <button href="#" class="btn btn-danger" type="submit">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <% } %>
                </div>
            </div>
    </body>

</html>