<!DOCTYPE html>
<html>
<%- include('head') -%>

  <body>
    <%- include('header') -%>
    <% for (var i = 0; i < books.length; i++) { %>
      <div class="col justify-content-center">
          <div class="card justify-content-center" style="margin: auto">
              <img class="card-img-top img-thumbnail rounded mx-auto d-block" src="<%= books[i].thumbnail %>" style="width: 10%">
              <div class="card-body">
                  <form action="/account/tradebook" method="POST">
                      <p class="card-title" style="font-weight: bold;">
                          <%= books[i].title %>
                      </p>
                      <p class="card-text"><%= books[i].description %></p>
                      <input type="hidden" name="bookId" value="<%= books[i]._id %>">
                      <button href="#" class="btn btn-warning" type="submit">Trade</button>
                  </form>
              </div>
          </div>
      </div>
      <% } %>
  </body>

</html>