<!DOCTYPE html>
<html>
<%- include('head') -%>

    <body>
        <%- include('header') -%>
            <% for (var i = 0; i < books.length; i++) { %>
                <div class="col justify-content-center">
                    <div class="card justify-content-center" style="margin: auto">
                        <img class="card-img-top img-thumbnail rounded mx-auto d-block" src="<%= books[i].thumbnail %>" style="width: 10%">
                        <div class="card-body">
                            <p class="card-title" style="font-weight: bold;">
                                <%= books[i].title %>
                            </p>
                            <p class="card-text">
                                <%= books[i].description %>
                            </p>
                            <% if (hasOwnProperty('user')) { %>
                                <% if (books[i].Trades && books[i].Trades.length > 0) { %>
                                    <form action="/trades/tradebook" method="POST">
                                        <input type="hidden" name="bookId" value="<%= books[i]._id %>">
                                        <input type="hidden" name="cancel" value="true">
                                        <button href="#" class="btn btn-danger" type="submit">Cancel Trade</button>
                                    </form>
                                    <% } else { %>
                                        <p class="card-title" style="font-weight: bold;">
                                            Offer trade for my book:
                                        </p>
                                        <input type="hidden" name="bookId" value="<%= books[i]._id %>">
                                        <% for (var x = 0; x < myBooks.length; x++) { %>
                                            <form style="display: inline-block" action="/trades/tradebook" method="POST">
                                                <input type="hidden" name="myBook" value="<%= myBooks[x]._id %>">
                                                <img src="<%= myBooks[x].thumbnail %>" style="width: 5%;">
                                            </form>
                                            <% } %>
                                                <% } %>
                                                    <% } %>
                        </div>
                    </div>
                </div>
                <% } %>
    </body>

</html>